GLG/C2_08_SpringRest/10_spring_webservices/01_j2ee/demoWebService1Client/xml-resources/web-service-references/TelephoneWebService/wsdl/localhost_8080/TelephoneWebService/TelephoneWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.glg203/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.glg203/" name="TelephoneWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.glg203/" schemaLocation="http://localhost:8080/TelephoneWebService/TelephoneWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="creerPersonne">
<part name="parameters" element="tns:creerPersonne"/>
</message>
<message name="creerPersonneResponse">
<part name="parameters" element="tns:creerPersonneResponse"/>
</message>
<message name="creerPersonneTels">
<part name="parameters" element="tns:creerPersonneTels"/>
</message>
<message name="creerPersonneTelsResponse">
<part name="parameters" element="tns:creerPersonneTelsResponse"/>
</message>
<message name="TelephoneMalFormeException">
<part name="fault" element="tns:TelephoneMalFormeException"/>
</message>
<message name="telephones">
<part name="parameters" element="tns:telephones"/>
</message>
<message name="telephonesResponse">
<part name="parameters" element="tns:telephonesResponse"/>
</message>
<portType name="TelephoneWebService">
<operation name="creerPersonne">
<input wsam:Action="http://webservice.glg203/TelephoneWebService/creerPersonneRequest" message="tns:creerPersonne"/>
<output wsam:Action="http://webservice.glg203/TelephoneWebService/creerPersonneResponse" message="tns:creerPersonneResponse"/>
</operation>
<operation name="creerPersonneTels">
<input wsam:Action="http://webservice.glg203/TelephoneWebService/creerPersonneTelsRequest" message="tns:creerPersonneTels"/>
<output wsam:Action="http://webservice.glg203/TelephoneWebService/creerPersonneTelsResponse" message="tns:creerPersonneTelsResponse"/>
<fault message="tns:TelephoneMalFormeException" name="TelephoneMalFormeException" wsam:Action="http://webservice.glg203/TelephoneWebService/creerPersonneTels/Fault/TelephoneMalFormeException"/>
</operation>
<operation name="telephones">
<input wsam:Action="http://webservice.glg203/TelephoneWebService/telephonesRequest" message="tns:telephones"/>
<output wsam:Action="http://webservice.glg203/TelephoneWebService/telephonesResponse" message="tns:telephonesResponse"/>
</operation>
</portType>
<binding name="TelephoneWebServicePortBinding" type="tns:TelephoneWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="creerPersonne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creerPersonneTels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TelephoneMalFormeException">
<soap:fault name="TelephoneMalFormeException" use="literal"/>
</fault>
</operation>
<operation name="telephones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TelephoneWebService">
<port name="TelephoneWebServicePort" binding="tns:TelephoneWebServicePortBinding">
<soap:address location="http://localhost:8080/TelephoneWebService/TelephoneWebService"/>
</port>
</service>
</definitions>