GLG/C2_06_SpringXMLJSON/08_spring_xml_json/00_demo_simples/src/main/resources/glg203/ressources/dtdSimple/adresses.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--
    TODO define vocabulary identification data
    PUBLIC ID  : -//vendor//vocabulary//EN
    SYSTEM ID  : http://server/path/__NAME__
-->

<!-- TODO define your own vocabulary/syntax. Example follows:  -->
<!ELEMENT carnet (adresse*)>
<!ELEMENT adresse EMPTY>
<!-- <!ATTLIST __ROOT__ version CDATA #REQUIRED  -->

